:root {
  --text-color: #454545;
  --background-color: #fffdea;
  --header-image: linear-gradient(180deg, #ffc6bf, #fffdea);
  --aside-text-color: #556585;
  --border: 1px black solid;
  --navigation-background-color: #d7f0ff;
  --test-pass-color: #95ff95;
  --test-fail-color: #ff9595;
  --license-background-color: #efedda;
  --calc-table-background-color: #dae9ef;
  --calc-table-header-background-color: #2a6780;
  --calc-table-header-text-color: #fff7a6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffeaf5;
    --background-color: #0e1a20;
    --header-image: linear-gradient(180deg, #0a69bb, #1a9095);
    --aside-text-color: #a7b1b4;
    --border: 1px white solid;
    --navigation-background-color: #44585b;
    --test-pass-color: #1f9631;
    --test-fail-color: #c31e3e;
    --license-background-color: #44585b;
    --calc-table-background-color: #44585b;
    --calc-table-header-background-color: #0a69bb;
    --calc-table-header-text-color: #a7b1b4;
  }
}

body{
  font-family: "Open Sans", Arial;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 2em auto;
  max-width: 50em;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}
h1{
  line-height: 1.2;
  margin-bottom: 0;
  padding-left: 1em;
}
h2,h3{
  line-height: 1.2;
  padding-left: 1em;
}
header {
  background-image: var(--header-image);
  padding: 1em;
  text-align: right;
}
header aside {
  padding-top: 0.3em;
  font-size: 130%;
  margin-left: 10%;
  color: var(--aside-text-color);
  font-weight: bold;
  font-style: italic;
}
hr.divider {
  width: 85%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
p {
  padding-left: 2em;
  padding-right: 2em;
}
.navigation {
  text-align: center;
  line-height: 2.5;
  margin-top: 0;
  margin-bottom: 0;
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: var(--navigation-background-color);
  font-size: 90%;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
}
img.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: calc(50vh);
}
label.drop .heading {
  cursor: pointer;
}
input[type="checkbox"].collapse  {
  display: none;
}
.drop > input ~ .contents {
  display: none;
}
.drop > input:checked ~ .contents {
  display: block;
}
.drop > input ~ .heading:before {
  content: '► ';
}
.drop > input:checked ~ .heading:before {
  content: '▼ ';
}
.drop > .contents {
  cursor: pointer;
}
#contribute {
  margin-top: 1em;
}
.test-categories {
  margin-top: 1em;
  margin-left: 4em;
}
.tests {
  margin-top: 1em;
  margin-left: 4em;
}
.tests .pass {
  background-color: var(--test-pass-color);
}
.tests .fail {
  background-color: var(--test-fail-color);
}
#license {
  padding: 1em;
  margin: 0;
  background-color: var(--license-background-color);
  font-size: 90%;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
}
.table-div {
  width: 80%;
  text-align: center;
  display: table;
  border: var(--border);
  margin: auto;
  padding: 0;
}
.calc-table {
  border: 0px;
  width: 100%;
}
.calc-table th {
  background-color: var(--calc-table-background-color);
}
.calc-table thead tr.title th {
  background-color: var(--calc-table-header-background-color);
  color: var(--calc-table-header-text-color);
}
.calc-table tbody input {
  text-align: center;
  width: 80%;
  min-width: 7em;
}
.calc-table tbody input.percentage {
  text-align: center;
  width: 60%;
  min-width: 6em;
  white-space: nowrap;
}
